/*Beginning comment for css file.*/
body {
    background-color: bisque
}
h1 {
    font-size: 45px;
    color:rgb(27, 158, 151)
}
h1:active {
    background-color: orange;
}
#topic {
    color: red
}
.description {
    font-size: 2vw;
    background-color: rgb(116, 236, 166);
    font-family: 'Bebas Neue', cursive;
}
h2 {
    max-width: 7in;
    min-width: 5in;
    font-size: 4vh;
    background-color: rgb(0, 255, 128);
    border-style:inset;
    border-width: 30px;
    border-color: rgb(103, 223, 253);
    border-radius: 19px;
    font-family: 'Bebas Neue', cursive;
}
h2:hover {
    background-color: yellow;
}
span {
    font-size: 0.5em;
  }
p {
    font-size: 0.7cm;
    line-height: 20pt;
}
.progress {
    display: flex;
    background-color: aqua;
    width: 8cm;
    justify-content: space-evenly;
    flex-direction: column;
    align-items:stretch;
}
.progress > div {
    margin: 10px;
    background-color: aliceblue;
    line-height: 1cm;
}
.grid {
    display: grid;
    grid-template-columns: 1cm 2cm 1cm;
    column-gap: 10px;
    row-gap: 10px;
    justify-items:flex-end;
    align-items: end;
    width: 3in;
    background-color: lightgreen;
    padding: 20px;
  }
  .gridSlot {
    background-color: white;
  }
  @media (min-width: 9in) {
    .block {
        border-color: rgb(242, 176, 32);
        border-width: 20px ;
        border-style: dashed;
    }
  }
  * {
    color: darkslateblue;
  }
  p[target="space"] {
    background-color: orange;
  }
  ol, ul {
    background-color:chartreuse;
  }

  div p {
    color: aliceblue;
    background-color: black;
  }

  ul ~ h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  ul + details {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  div.grid {
    font-family: 'Bebas Neue', cursive;
  }
