/*Beginning comment for css file.*/
body {
    background-color: bisque
}
h1 {
    color:rgb(27, 158, 151)
}
.topic {
    color: red
}
.description {
    background-color: rgb(116, 236, 166);
}
h2 {
    background-color: rgb(0, 255, 128);
}
